{% extends "layouts/base.html" %}

{% block title %} Enter Details {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg">
        <div class="row">
          <div class="col-6 mb-lg-0 mb-4">
            <div class="card mt-4">
              <div class="card-header pb-0 p-3">
                <div class="row bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <div class="col-6 d-flex align-items-center text-uppercase">
                    <h6 class="mb-0" style="color: yellow;">New Signal Details</h6>
                  </div>
                  <div class="col-6 text-end text-uppercase"></div>
                </div>
              </div>
              <div class="card-body p-3">
                <div class="row">
                  <form role="form" method="post" action="">
                    {{ form.hidden_tag() }} 
                    <div class="input-group input-group-outline mb-3">
                      {{ form.dtg(class="form-control", placeholder="Enter DTG") }}
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      {{ form.from_origin(class="form-control", placeholder="Origin") }}
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      {{ form.to_destination(class="form-control", placeholder="To (Action Addressee)") }}
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      {{ form.info(class="form-control", placeholder="Info Addressee") }}
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      {{ form.priority(class="form-control", placeholder="Priority") }}
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      {{ form.classification(class="form-control", placeholder="Classification") }}
                    </div>
                    <div class="text-center">
                      <button type="submit" name="enterDetails" 
                              class="btn btn-lg bg-gradient-primary btn-lg w-20 mt-4 mb-4">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 mb-lg-0 mb-4">
            <div class="card mt-4">
              <div class="card-header pb-0 p-3">
                <div class="row bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <div class="col-6 d-flex align-items-center text-uppercase">
                    <h6 class="mb-0" style="color: yellow;">Upload Signal</h6>
                  </div>
                  <div class="col-6 text-end text-uppercase"></div>
                </div>
                
              </div>
              <div class="card-body p-3">
                <div class="row">
                  <form id="uploadForm" enctype="multipart/form-data">
                    <input class="formFile" type="file" name="file" accept="image/*" required>
                    <button class="btn bg-gradient-primary" type="submit">Upload</button>
                </form>
                <div id="result"></div>
                <div id="uploadedImage"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      $('#uploadForm').on('submit', function(event) {
          event.preventDefault();
          var formData = new FormData(this);

          $.ajax({
              url: '/upload',
              type: 'POST',
              data: formData,
              contentType: false,
              processData: false,
              success: function(data) {
                  // Update the HTML to display the uploaded image
                  $('#uploadedImage').html('<img src="' + data['image'] + '" alt="Uploaded image">');
              },
              error: function(jqXHR, textStatus, errorThrown) {
                  console.error('Error:', textStatus, errorThrown);
                  $('#result').text('File upload failed.');
              }
          });
      });
  });
</script>
{% endblock javascripts %}
